*
{
    font-family:"Calibri"
}

html
{
    scroll-behavior: smooth;
}

.container
{
    background: #f5b731;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5rem;
    display: grid;
    grid-template-columns: 30% 70%;
}

.container .left
{
    background: #ffdc8a;
}

.container .left .text
{
    margin: 30px;
    h1
    {
        font-size: 20px;
    }
}

.container .left .picture
{
    margin: 30px;
    img
    {
        height: auto;
        width: 240px;
    }
}

.container .right
{
    margin: 30px;
}

.container .right .details
{
    text-align: center;
    background: #fffecf;
    padding: 30px;
}

.education h2
{
    font-size: 20px;
}

.skills
{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    text-align: center;
}

.container .right .educationtitle h1
{
    text-align: center;
    border-top: 3px solid black;
}

.education
{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.container .right .skillstitle
{
    text-align: center;
    border-top: 3px solid black;
}

.container .right .experiencestitle
{
    text-align: center;
    border-top: 3px solid black;
}

.experience
{
    text-align: center;
}

.container .right .button
{
    text-align: center;
}
#educationtitlebutton
{
    background-color: #ffdc8a;
    border: none;
    color: black;
    padding: 15px 15px;
    font-size: 20px;
    margin-bottom: 20px;
}

#educationtitlebutton:hover
{
    background-color: white;
    animation: pulse 2s infinite;
}

#skillstitlebutton
{
    background-color: #ffdc8a;
    border: none;
    color: black;
    padding: 15px 15px;
    font-size: 20px;
    margin-bottom: 20px;
}

#skillstitlebutton:hover
{
    background-color: white;
    animation: pulse 2s infinite;
}

#experiencetitlebutton
{
    background-color: #ffdc8a;
    border: none;
    color: black;
    padding: 15px 15px;
    font-size: 20px;
    margin-bottom: 20px;
}

#experiencetitlebutton:hover
{
    background-color: white;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

